mixin section(sectionData)
    section.section
        .section__lead-wrapper
            .decor-box.section__decor(aria-hidden)
            .section__lead(class=sectionData.type)
                img.section__img(src=`~assets/images/${sectionData.img.src}`, alt=sectionData.img.alt)
                .section__text-block
                    h2.section__title!=sectionData.title
                    p.section__text!=sectionData.text
        +goods(sectionData.goods)